.searchInputWrapper {
	transition: transform 0.2s ease;
	transform: scale(1);
}

.searchInputWrapperFocused {
	transform: scaleX(1.04) scaleY(1.05);
}

.searchInput {
	border: solid 1px var(--mantine-color-white);
	color: var(--mantine-color-gray-7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease;
	font-size: var(--mantine-font-size-h6);
}

.searchInput:focus-within {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), inset 0 3px 6px rgba(0, 0, 0, 0.1);
}