.header {
	/* padding: var(--mantine-spacing-sm) var(--mantine-spacing-md); */
	padding: 0 var(--mantine-spacing-xl);
	color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
	gap: var(--mantine-spacing-md);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
