.accordionItem {
	margin-bottom: var(--mantine-spacing-xs);
}

.accordionItemControl {
	border: 1px solid transparent;
	border-radius: var(--mantine-radius-md);
	color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
	font-size: var(--mantine-font-size-md);
	transition: all 0.2s ease;
	
}

.accordionItemControl span {
	padding: 7px 0;
}

.accordionItemControl:hover {
	border: 1px solid var(--mantine-color-gray-5);
}


