.headerRow {
	color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
	gap: var(--mantine-spacing-md);
	box-shadow: 2px 2px 5px 0px #40404033;
	z-index: 100;
	background-color: red;
}

.domainLogoButton {
	position: relative;
	overflow: visible;
}

.iconBrand {
	opacity: 1;
	transform: scale(1);
}

.iconHome {
	opacity: 0;
	transform: scale(0.8) rotateY(180deg);
	transition: opacity 0.5s ease, transform 1s ease;
}


.iconHidden {
	visibility: hidden;
}

.domainLogoButton:hover .iconHome:not(.iconHidden) {
	opacity: 1;
	transform: scale(1) rotateY(0deg);
	transition: opacity 0.5s ease, transform 1s ease;
}
