.nameLink {
	cursor: pointer;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	line-height: 1.2;
	transition: background-size 0.28s ease;
}

.nameLink:hover {
	background-size: 100% 1px;
}
