@import 'tailwindcss';

@import '@mantine/core/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';

/* @import "tailwindcss/theme.css" layer(theme); */
/* @import "tailwindcss/preflight.css" layer(base); */
/* @import "tailwindcss/utilities.css" layer(utilities); */

/* @import 'mantine-react-table/styles.css' layer(mantine-table); */
@import 'react-data-grid/lib/styles.css' layer(data-grid);


@import './nikki.css';


@layer base, mantine, data-grid, components;

html {
	font-size: 14px;
}

@layer mantine {
	.mantine-Grid-inner {
		height: 100%;
	}
}


@layer theme {

	:not(.rdg-light),
	.rdg-dark {
		--rdg-color: var(--mantine-color-text);
		--rdg-background-color: var(--mantine-color-body);
		--rdg-border-color: var(--mantine-color-gray-3);

		--rdg-row-hover-background-color: var(--mantine-color-default-hover);
		/* --rdg-row-selected-background-color: var(--mantine-color-gray-2); */
		/* --rdg-row-selected-hover-background-color: var(--mantine-color-gray-1); */
		/* --rdg-checkbox-focus-color: var(--mantine-color-primary); */

		--rdg-header-background-color: var(--mantine-color-body);
		--rdg-header-draggable-background-color: var(--mantine-color-gray-2);

		--rdg-summary-border-color: var(--mantine-color-gray-4);
	}

	.rdg-light {
		--rdg-color: var(--mantine-color-text);
		--rdg-background-color: var(--mantine-color-body);
		--rdg-border-color: var(--mantine-color-gray-3);

		--rdg-row-hover-background-color: var(--mantine-color-default-hover);
		/* --rdg-row-selected-background-color: var(--mantine-color-gray-2); */
		/* --rdg-row-selected-hover-background-color: var(--mantine-color-gray-1); */
		/* --rdg-checkbox-focus-color: var(--mantine-color-primary); */

		--rdg-header-background-color: var(--mantine-color-body);
		--rdg-header-draggable-background-color: var(--mantine-color-gray-2);

		--rdg-summary-border-color: var(--mantine-color-gray-4);
	}
}