.moduleLayout {}

.headerRow {
	color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
	gap: var(--mantine-spacing-md);
}

.menuBar {
	border-bottom: 1px solid var(--mantine-color-gray-3);
}

.showOnSplit {
	display: none;
}

:global(.split-small) .showOnSplit {
	display: block;
}

.showOnSplitCollapsed {
	display: none;
}

:global(.split-big) .showOnSplitCollapsed {
	display: flex;
	visibility: hidden;
}

:global(.split-collapsed) .showOnSplitCollapsed {
	display: flex;
}


:global(.split-small) .hideOnSplit {
	display: none;
}

:global(.split-collapsed) .hideOnSplit {
	display: none;
}