.headerRow {
	gap: var(--mantine-spacing-md);
	box-shadow: 2px 2px 5px 0px light-dark(rgba(0, 0, 0, 0.12), var(--mantine-color-dark-2));
	margin-bottom: 2px
}

.goHomeButton {
	animation: scaleInRotateY 0.3s ease-out;
}

@keyframes scaleInRotateY {
	from {
		transform: rotateY(-90deg) scale(0.8);
		opacity: 0;
	}
	to {
		transform: rotateY(0deg) scale(1);
		opacity: 1;
	}
}
