.filterPanel {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.moduleCard {
	
}

.cardHover .actionBtn {
	opacity: 0;
	transition: opacity 150ms ease;
  }
  
  .cardHover:hover .actionBtn,
  .cardHover:focus-within .actionBtn {
	opacity: 1;
  }
