.filterPanel {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.moduleCardInner {
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: var(--mantine-radius-md);
	border: 1px solid rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.moduleCard {
	cursor: pointer;
	background-color: transparent;
}
  
.moduleCardHover .actionBtn {
	opacity: 0.8 !important;
}
.moduleCardHover .moduleCardInner {
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}



/* Action button */
.moduleCard .actionBtn {
	opacity: 0;
	transition: opacity 150ms ease;
}
  
.moduleCard:hover .actionBtn,
.moduleCard:focus .actionBtn,
.moduleCard:active .actionBtn,
.moduleCard:focus-within .actionBtn {
	opacity: 0.8;
}

/* Card hover effect */
.moduleCard:hover .moduleCardInner {
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.moduleCard:active .moduleCardInner {
	/* transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); */
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}


.searchInput {
	border: 1px solid var(--mantine-color-gray-5);
	color: var(--mantine-color-gray-7);
}

.searchInput:focus-within {
	border: 1.5px solid var(--mantine-color-blue-5);
}

.accordionItem {
	margin-bottom: var(--mantine-spacing-xs);
}

.accordionItemControl {
	border: 1px solid transparent;
	border-radius: var(--mantine-radius-md);
	color: var(--mantine-color-gray-8);
	font-size: var(--mantine-font-size-md);
	transition: all 0.2s ease;
	
}

.accordionItemControl span {
	padding: 7px 0;
}

.accordionItemControl:hover {
	border: 1px solid var(--mantine-color-gray-5);
}


.homeContent {
	min-height: 100%;
	height: max-content;
	/* background: linear-gradient(135deg, var(--nikki-color-page-background), var(--nikki-color-page-background), var(--nikki-color-white)); */
}