.filterPanel {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.moduleCard {
	
}

.cardHover .actionBtn {
	opacity: 0;
	transition: opacity 150ms ease;
	background-color: var(--mantine-color-white);
}
  
.cardHover:hover .actionBtn,
.cardHover:focus-within .actionBtn {
	opacity: 1;
}


.cardHover:hover {
	box-shadow: 0px 0px 4px 1px var(--nikki-color-black-shadow);
}
