/* target bằng attribute thôi, không dùng class */
[data-combobox-option][data-combobox-selected] {
  background-color: #f0f0f0 !important;
}

.mantine-MultiSelect-pillsList {
  max-width: 220px;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mantine-MultiSelect-pillsList::-webkit-scrollbar {
  display: none;
}
