.root {
	position: relative;
	padding: var(--mantine-spacing-md);
	transition: border-color 150ms ease;
  
	&[data-checked] {
	  border-color: var(--mantine-primary-color-filled);
	}

	&[data-disabled] {
	  cursor: not-allowed;
	  opacity: 0.5;
	  
	  @mixin hover {
		background-color: transparent;
	  }
	}
  
	@mixin hover {
	  @mixin light {
		background-color: var(--mantine-color-gray-0);
	  }
  
	  @mixin dark {
		background-color: var(--mantine-color-dark-6);
	  }
	}
}
  
.label {
	font-family: var(--mantine-font-family-monospace);
	font-weight: 500;
	font-size: var(--mantine-font-size-sm);
	line-height: 1.3;
	color: var(--mantine-color-bright);
  }
  