.headerRow {
	color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
	gap: var(--mantine-spacing-md);
	box-shadow: 2px 2px 5px 0px #40404033;
	z-index: 100;
	background-color: red;
}

.mainPrivateContent {
	overflow-y: auto;
	flex: 1;
	background: linear-gradient(135deg, var(--nikki-color-page-background), var(--nikki-color-page-background), var(--nikki-color-white));
	scrollbar-gutter: stable both-edges;
	scrollbar-width: auto;
	scrollbar-color: var(--mantine-color-gray-6) transparent;
}

.iconButton {
	position: relative;
	overflow: visible;
}

.iconBrand {
	opacity: 1;
	transform: scale(1);
}

.iconHome {
	opacity: 0;
	transform: scale(0.8);
}

.iconHidden {
	visibility: hidden;
}

.iconButton:hover .iconHome:not(.iconHidden) {
	opacity: 1;
	transform: scale(1);
}