.activeMenuItem {
	background-color: var(--mantine-color-blue-1);
}

.menuDropdown {
	max-width: 300px;
	min-width: 150px;
}

.menuDropdown :global([data-menu-item]) {
	max-width: 100%;
	overflow: hidden;
}

.menuDropdown :global([data-menu-item] > div[data-position]) {
	flex-shrink: 0;
}

.menuDropdown :global([data-menu-item] > div:not([data-position])) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	min-width: 0;
	flex: 1;
}